@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>All that you need at one place</p>
                    <h1>Cart</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- cart -->
@{
    decimal subTotal = 0;
    decimal shipping = 2;
    bool hasCoupon = false;

    <div class="cart-section mt-150 mb-150">
        <div class="col">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="cart-table-wrap">
                        <table class="cart-table">

                            <thead class="cart-table-head">
                                <tr class="table-head-row">
                                    <th class="product-remove"></th>
                                    <th class="product-image">Product Image</th>
                                    <th class="product-name">Name</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Amount</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.carts != null)
                                {

                                    @foreach (var item in ViewBag.carts)
                                    {
                                        string txt_class = "quantity_" + item.Product.Id;
                                        decimal total = 0;
                                        bool hasWeight = false;
                                        @foreach (var u in @ViewBag.uIds)
                                        {
                                            if (item.Product.UnitId.ToString().Contains(u.ToString()))
                                            {
                                                hasWeight = true;
                                                break;
                                            }
                                        }
                                        if (hasWeight)
                                        {
                                            total = item.Product.Price * item.Value;
                                        }
                                        else
                                        {
                                            total = item.Product.Price * item.Quantity;
                                        }
                                        subTotal += total;
                                        <tr class="table-body-row">
                                            <td class="product-remove"><a asp-controller="Shop" asp-action="deleteCart" asp-route-id="@item.Product.Id"><i class="far fa-window-close"></i></a></td>
                                            <td class="product-image"><img src="~/Images/@item.Product.ProductImage" alt=""></td>
                                            <td class="product-name">@item.Product.Name </td>
                                            <td class="product-price">@item.Product.Price</td>
                                            <td class="product-quantity">
                                                @foreach (var u in @ViewBag.uIds)
                                                {
                                                    if (item.Product.UnitId.ToString().Contains(u.ToString()))
                                                    {
                                                        <form method="post" enctype="multipart/form-data" asp-controller="Shop" asp-action="updateCart" asp-route-id="@item.Product.Id">
                                                            <input type="number" step=".01" value="@item.Value" name="quantity">
                                                            <button type="submit" asp-controller="Shop" asp-action="updateCart" asp-route-id="@item.Product.Id" class="cart-btn"><i class="fas fa-circle-notch"></i></button>
                                                        </form>
                                                        break;
                                                    }
                                                    else
                                                    {
                                                        <form method="post" enctype="multipart/form-data" asp-controller="Shop" asp-action="updateCart" asp-route-id="@item.Product.Id">
                                                            <input disabled type="number" step=".01" value="@item.Value" name="quantity">
                                                            <button hidden type="submit" asp-controller="Shop" asp-action="updateCart" asp-route-id="@item.Product.Id" class="cart-btn"><i class="fas fa-circle-notch"></i></button>
                                                        </form>
                                                        break;
                                                    }
                                                }

                                            </td>
                                            <td class="product-quantity">
                                                @*<a asp-controller="Shop" asp-action="decrementByOne" asp-route-id="@item.Product.Id"><i style="color: #F28123" class="fas fa-minus-square fa-2x pr-2"></i> </a>*@
                                                @*<a asp-controller="Shop" asp-action="incrementByOne" asp-route-id="@item.Product.Id"> <i style="color: #F28123" class="fas fa-plus-square fa-2x pl-2"></i></a>*@

                                                @foreach (var u in @ViewBag.uIds)
                                                {
                                                    if (!item.Product.UnitId.ToString().Contains(u.ToString()))
                                                    {
                                                        <form method="post" enctype="multipart/form-data" asp-controller="Shop" asp-action="updateCart" asp-route-id="@item.Product.Id">
                                                            <input type="number" step=".01" value="@item.Quantity" name="quantity">
                                                            <button type="submit" asp-controller="Shop" asp-action="updateCart" asp-route-id="@item.Product.Id" class="cart-btn"><i class="fas fa-circle-notch"></i></button>
                                                        </form>
                                                        break;
                                                    }
                                                    else
                                                    {
                                                        <form method="post" enctype="multipart/form-data" asp-controller="Shop" asp-action="updateCart" asp-route-id="@item.Product.Id">
                                                            <input disabled type="number" step=".01" value="@item.Quantity" name="quantity">
                                                            <button hidden type="submit" asp-controller="Shop" asp-action="updateCart" asp-route-id="@item.Product.Id" class="cart-btn"><i class="fas fa-circle-notch"></i></button>
                                                        </form>
                                                        break;
                                                    }
                                                }

                                            </td>
                                            <td class="product-total">@total</td>

                                        </tr>

                                    }

                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="total-section">
                        <table class="total-table">
                            <thead class="total-table-head">
                                <tr class="table-total-row">
                                    <th>Total</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="total-data">
                                    <td><strong>Subtotal: </strong></td>
                                    <td>@subTotal</td>
                                </tr>
                                <tr class="total-data">
                                    <td><strong>Shipping: </strong></td>
                                    <td>@shipping</td>
                                </tr>
                                <tr class="total-data">
                                    <td><strong>Total: </strong></td>
                                    <td>
                                        @{
                                            decimal Tot = 0;
                                            if (@ViewBag.Coupon != null)
                                            {
                                                decimal dis = ((decimal)(@ViewBag.Coupon * 0.01) * ((decimal)subTotal + shipping));
                                                Tot = (subTotal + shipping) - dis;
                                                hasCoupon = true;
                                            }
                                            else
                                            {
                                                Tot = subTotal + shipping;
                                            }

                                        }
                                        @if (hasCoupon)
                                        {
                                            @Tot
                                            <span> JOD</span>
                                            <sup style="text-decoration:line-through">@{decimal orgValue = subTotal + shipping;} @orgValue JOD </sup>
                                        }
                                        else
                                        {
                                            @Tot
                                            <span> JOD</span>
                                        }
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                        <div class="cart-buttons">
                            <a asp-action="CheckOut" asp-controller="Shop" class="boxed-btn black">Check Out</a>
                        </div>

                    </div>

                    <div class="coupon-section">
                        <h3>Apply Coupon</h3>
                        <div class="coupon-form-wrap">
                            <form action="Cart" method="post">
                                @if (hasCoupon)
                                {
                                    <p><input type="text" disabled name="Coupon" value="@ViewBag.CouponCode" placeholder="Coupon"></p>
                                    @if (@ViewBag.Message != null)
                                    {
                                        <p class="text-danger">@ViewBag.Message</p>
                                    }
                                    <p><input disabled type="submit" value="Applied"></p>
                                }
                                else
                                {
                                    <p><input type="text" name="Coupon" value="@ViewBag.CouponCode" placeholder="Coupon"></p>
                                    @if (@ViewBag.Message != null)
                                    {
                                        <p class="text-danger">@ViewBag.Message</p>
                                    }
                                    <p><input type="submit" value="Apply"></p>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- end cart -->
<!-- logo carousel -->
<div class="logo-carousel-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="logo-carousel-inner">
                    <div class="single-logo-item">
                        <img src="~/assets/img/company-logos/1.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/company-logos/2.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/company-logos/3.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/company-logos/4.png" alt="">
                    </div>
                    <div class="single-logo-item">
                        <img src="~/assets/img/company-logos/5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end logo carousel -->
