@model ME_Mall.Models.ContactUs

@{
    ViewData["Title"] = "Inbox - Message";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Communication Center /</span> Message</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center bg-dark">
            <h5 class="mb-0 text-white"><i class="bx bxs-inbox"></i> Inbox</h5>
            <div class="btn-group d-flex justify-content-between">
                @if (Model.ShowHide == 1)
                {
                    <a asp-action="Messages" asp-controller="Admin" class="btn btn-secondary btn-sm"><i class="bx bx-arrow-back bx-fade-left-hover"></i> Back</a>
                    <a asp-action="MoveToTrash" asp-controller="Admin" asp-route-id="@Model.Id" class="btn btn-primary btn-sm"><i class="bx bx-trash bx-tada-hover"></i></a>
                }
                else if (Model.ShowHide == 0)
                {
                    <a asp-action="Trash" asp-controller="Admin" class="btn btn-secondary btn-sm"><i class="bx bx-arrow-back bx-fade-left-hover"></i> Back</a>
                    <a asp-action="Recover" asp-controller="Admin" asp-route-id="@Model.Id" class="btn btn-info btn-sm"><i class="bx bx-recycle bx-tada-hover"></i></a>
                    @*<a asp-action="MoveToTrash" asp-controller="Admin" asp-route-id="@Model.Id" class="btn btn-primary btn-sm"><i class="bx bx-trash bx-tada-hover"></i></a>*@
                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modalCenter" asp-route-id="@Model.Id">
                        <i class="bx bx-trash bx-tada-hover"></i>
                    </button>
                }
            </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalCenterTitle">Message Delete</h5>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col mb-3">
                                            <p>By deleting this message you will not be able to recover it again, Are you sure you want to delete it?</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <form asp-action="DeleteConfirmedMessage">
                                        <input type="hidden" asp-for="Id" />
                                        <input type="submit" value="Delete" class="btn btn-danger" />
                                    </form>
                                    @*<button type="button" asp-action="DeleteConfirmedMessage" asp-controller="Admin" asp-route-id="@Model.Id" class="btn btn-danger">Delete</button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col">
            <form asp-action="Reply" method="post">
                <input hidden asp-for="Id" name="Id" />
                <input hidden asp-for="Email" name="email" />
                <input hidden asp-for="Name" name="name" />
                <input hidden asp-for="Subject" name="subject" />

                <div class="list-group-item flex-column align-items-start h-100">
                    <div class="d-flex justify-content-between w-100 mt-3">
                        <h5 style="margin-bottom:2px"><strong>Subject:</strong> @Model.Subject</h5>
                        <small>@Model.Date</small>
                    </div>
                    <p class="mb-3">
                        <h6>
                            <strong>From:</strong> @Model.Name<br /><small class="text-muted">@Model.Email</small>
                        </h6>
                    </p>
                    <p class="mb-1 mt-4" style="font-weight:700">
                        @Model.Message
                    </p>
                    <div class="d-flex justify-content-center w-100 mt-3">
                        <button class="btn btn-primary me-1"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseExample"
                                aria-expanded="false"
                                aria-controls="collapseExample">
                            <i class="bx bx-reply"></i> Reply
                        </button>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="card">
                            <div class="d-flex flex-column justify-content-center w-100 mt-3">
                                <textarea class="p-2  border-2 rounded" name="message" rows="10" placeholder="Write your email here"></textarea>
                            </div>
                            <div class="d-flex justify-content-center w-100 mt-1">
                                <button class="btn btn-primary justify-content-center me-1" type="submit"><i class="bx bx-send bx-tada"></i> Send</button>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

